<% content_for :page_title do %>
  &nbsp;
<% end %>

<% content_for :head do %>
  <% if Rails.application.assets.find_asset('hub_client_stylesheets/manifest.scss').nil? %>
    <%= stylesheet_link_tag '//staging.hub.spreecommerce.com/hub.css.min' %>
  <% else %>
    <%= stylesheet_link_tag 'hub_client_stylesheets/manifest' %>
  <% end %>
<% end %>

<div id="hub_client">
  <div class="wrapper">
    <div id="integration_menu">
      <!-- Hub Menu renders here -->
    </div>  
  </div>      

  <div id="integration_main" class="wrapper">
    <!-- Backbone app renders here -->
  </div>
</div>

<%= javascript_tag do -%>
  <% if @environment.nil? %>
    $(function() {
      return Augury.connect();
    });
  <% else %>
    $(function() {
      return Augury.start();
    });
  <% end %>
<% end %>

<% if Rails.application.assets.find_asset('hub_client/manifest.js').nil? %>
  <%= javascript_include_tag '//staging.hub.spreecommerce.com/hub.min.js' %>
<% else %>
  <%= javascript_include_tag 'hub_client/manifest.js' %>
<% end %>

