<% content_for :page_title do %>
  <%= Spree.t(:integration) %>
<% end %>

<div id="integration_main" class="row">
  <!-- Backbone app renders here -->
</div>

<%= javascript_tag do -%>
  <% if @environment.nil? %>
    $(function() {
      return Augury.connect();
    });
  <% else %>
    Augury.env = '<%= @environment.environment %>';
    Augury.url = '<%= @environment.url %>';
    Augury.store_id = '<%= @environment.store_id %>';
    Augury.api_key = '<%= @environment.token %>';
    Augury.env_id = '<%= @environment.id %>';

    $(function() {
      return Augury.start();
    });
  <% end %>
<% end %>

<% if Rails.application.assets.find_asset('hub_client/manifest.js').nil? %>
  <%= javascript_include_tag '//aug-sb1.spree.fm/sandbox_hub.min.js' %>
<% else %>
  <%= javascript_include_tag 'hub_client/manifest.js' %>
<% end %>

